[submodule "deps/couchbase-cxx-client"]
	path = deps/couchbase-cxx-client
	url = https://github.com/couchbaselabs/couchbase-cxx-client.git
[submodule "deps/protostellar"]
	path = deps/protostellar
	url = https://github.com/couchbase/protostellar
